@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Gruppo&family=Mukta:wght@200&family=Slabo+20px&display=swap');

.categories{
    width:25%;
    background-color: white;
    font-family: Mukta;
    color: black;
    font-size: 15px;
    line-height: 30px;
    border-radius: 5px;
    padding-left:10px;
}
.categories div span{
    padding:0 5px;
}
.categories div a{
    color:black;
    text-decoration: none;
}
.categories div a:hover{
    color:orange;
    
}