.account{
    display:none;
}
@media only screen and (max-width:600px){
    .account {
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: column;
        top: 0;
    }
    input::placeholder{
        font-size: 20px;   
    }
    input:focus::placeholder {
        position: absolute;
        color: black;
        font-size: 0px;
        transition: .5s ease-in-out all;
        margin-top: -10px;
    }
    
    .account .ALogo {
        width: 100%;
        display: flex;
        align-items: center;
        height: 60px;
        box-shadow: 0 0 5px 1px rgb(155, 152, 152);
    }
    
    .account .ALogo img {
        width: 35%;
    }
    
    .account .ALogo span {
        margin: 0 10px;
        font-size: 50px;
    }
    
    .account .ASwitch {
        width:100%;
        height: fit-content;
        box-shadow: 0 0 5px 1px rgb(155, 152, 152);
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .account .ASwitch a{
        width:50%;
        text-align: center;
        height: 60px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .bb{
        color:orange
    }
    .bb::after{
        content: '';
        display:block;
        position: absolute;
        width:50%;
        height:2px;
    background-color: orange;
    }
    .bb::after{
        transform: translateY(30px)
    }
}