@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
.navBar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: fit-content;
    font-family: 'Noto Sans HK';
    
}
.desktopNav{
    width:100%;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.navBar .Logo {
    width: 10%;
    margin: 3px;
    padding: 10px 50px;
}

.navBar .Logo img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.navBar .input {
    width: 30%;
    border: 1px solid rgb(21, 18, 18);
    display: flex;
    height: 30px;
    margin: 5px;
}

.navBar .input span {
    display: flex;
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
}

.navBar .input input {
    width: 90%;
    background: none;
    outline: 0;
    border: none;
}

.navBar .Search {
    margin: 5px;
    width: 7%;
    text-align: center;
    background-color: orange;
    color: white;
    text-transform: uppercase;
    padding: 8px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgb(185, 195, 204);
    cursor: pointer;
}

.navBar .Search:hover {
    background-color: rgb(245, 134, 15)
}

.navBar .Login {
    width: 8%;
    display: flex;
    margin: 3px;
    cursor: pointer;
    align-items: flex-end;
}

.navBar .Login:hover {
    color: orange;
}

.navBar .help {
    width: 8%;
    display: flex;
    margin: 3px;
    cursor: pointer;
    align-items: flex-end;
}

.navBar .help:hover {
    color: orange
}

.navBar .Cart {
    width: 8%;
    display: flex;
    margin: 3px;
    cursor: pointer;
    align-items: flex-end;
}

.navBar .Cart:hover {
    color: orange;
}

.Login span, .help span, .Cart span {
    margin: 0 5px;
    font-size: 25px;
}

.LoginSub {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    background-color: white;
    padding: 10px;
    width: 150px;
    justify-content: center;
    margin-left: 45%;
}

.LoginSub div {
    width: 90%;
    text-transform: capitalize;
    line-height: 35px;
}

.LoginSub div {
    color: rgb(20, 1, 1)
}

.LoginSub div span {
    margin-right: 10px;
}

.LoginSub .log {
    text-align: center;
    background-color: orange;
    color: white;
    text-transform: uppercase;
    padding: 2px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgb(185, 195, 204);
    cursor: pointer;
}

.LoginSub .create {
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.LoginSub .create:hover {
    color: orange;
}

.LoginSub .log:hover {
    background-color: rgb(245, 134, 15)
}




.CartSub {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    background-color: white;
    padding:5px 10px;
    width: 150px;
    justify-content: center;
    margin-left: 60%;
}

.CartSub div {
    width: 100%;
    text-transform: capitalize;
    line-height: 35px;
    cursor: pointer;
    font-size: 12px;
    padding-left:10px;
}

.CartSub div {
    color: rgb(20, 1, 1)
}
.CartSub div:hover {
    background-color: rgb(171, 182, 193);
    font-size: 12.2px;
}
.CartSub .LiveH {
    text-align: center;
    background-color: orange;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgb(185, 195, 204);
    cursor: pointer;
    width:80%;
}



.mobileNav {
    display: none;
}

@media only screen and (max-width:600px) {
    .desktopNav {
        display: none;
    }
    .mobileNav {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navBar {
        height: fit-content;
        width: 100%;
    }
    .mobileNav .MMholder{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
        padding:0;
        margin:0;

    }
    .mobileNav .MMholder .MLogo{
        width:50%;
        height: 100%;
    }
    .MLogo img {
        width: 50%;
        height: 100%;
       
    }
    .mobileNav .MMholder .Micon {
        width: 15%;
        height: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        color:rgb(89, 83, 83)
    }
    .MMinput{
        display: flex;
        justify-content: center;
        align-items: center; 
        width:100%;  
    }
    .MMinput .input{
        width:95%;  
        border-radius: 15px;
        border-color:rgb(184, 176, 176) 
    }
}