.CategBanner{
    display:flex;
    flex-direction: column;
    width:80%;
    background-color: white;
    border-radius: 5px;
    margin:10px 0px;
}
.CategBanner h3{
    padding:0px;
    margin:10px 15px;
}
.CategBanner .CategBCont{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.CategBanner .CategBCont div{
    width:160px;
    height: 100px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    
}
.CategBanner .CategBCont div:hover{
box-shadow: 0px 0px 5px 2px rgb(230, 224, 224);
}
.CategBanner .CategBCont div img{
width:60%;
height: 80%;
border-radius: 50%;
}
.CategBanner .CategBCont div p{
    padding:0;
    margin: 0;
    text-align: center;
}
.CategBanner .CategBCont div:hover>img {
    width: 65%;
    margin-left: -4%;
    transition: all .3s ease-in-out;
}

.CategBanner .CategBCont div:hover>p {
    width: 65%;
    font-size: 17px;
    transition: all .3s ease-in-out;
}
